div{
    height: 500px;
    width: 500px;
}

p{
    margin: 0;
}

#First{
    background-color: cadetblue;
    padding: 20px;  
    border: 10px solid black;
}

#Second{
    background-color: gold;
    border-width: 30px 20px;
    border: solid black;
    margin-left: 560px;
}

#Third{
        background-color: indianred;
        border: 10px solid black;
        margin-left: 40px;
      }