p{
    color: white;
}

#R1{
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
}

#G1{
    display: block;
    width: 200px;
    height: 200px;
    background-color: green;
}

#B1{
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
}